extends common/layout

block content
  main.main
    .container.d-flex
      .first-section
        .text-first-section How Dreamshare works?
        .pictures
          .picture-step-1
            .inside-picture
              .step-1
                | STEP 1
              .text-step-1
                | Sed leo enim, condimentum
              .text-step-2
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo
                | sit
                | amet facilisis.
          .picture-step-2
            .inside-picture
              .step-2
                | STEP 2
              .text-step-3
                | Morbi velit risus
              .text-step-2
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          .picture-step-3
            .inside-picture
              .step-1
                | STEP 3
              .text-step-1
                | Sed leo enim, condimentum
              .text-step-2
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo
                | sit
                | amet facilisis.
    .container.d-flex
      .first-section
        .text-second-section Meet a partner for your best holiday
        .partners
          .partners-one
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap.jpg', alt='avatar')
                img.oval(src='./images/Oval.jpg', alt='oval')
                img.icon(src='./images/Shape.png', alt='shape')
              p.partner-name Bradley Hunter
              p.partner-about Based in Chicago. I love playing tennis and loud music.
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_2.jpg', alt='avatar')
                img.oval(src='./images/Oval_2.jpg', alt='oval')
                img.icon2(src='./images/brush.png', alt='brush')
              p.partner-name Marie Bennett
              p.partner-about
                | Currently living in Colorado. Lover of art, languages and
                | travelling.
          .partners-two
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_3.jpg', alt='avatar')
                img.oval(src='./images/Oval_3.jpg', alt='oval')
                img.icon3(src='./images/camera.png', alt='camera')
              p.partner-name Diana Wells
              p.partner-about2
                | Living in Athens, Greece. I love black and white classics,
                | chillout
                | music and green tea.
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_4.jpg', alt='avatar')
                img.oval(src='./images/Oval_4.jpg', alt='oval')
                img.icon4(src='./images/airplane.png', alt='airplane')
              p.partner-name Christopher Pierce
              p.partner-about4
                | Star Wars fanatic. I have a persistent enthusiasm to create new
                | things.
        .partners-320
          .partners-one
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap.jpg', alt='avatar')
                img.oval(src='./images/Oval.jpg', alt='oval')
                img.icon(src='./images/Shape.png', alt='shape')
              p.partner-name Bradley Hunter
              p.partner-about Based in Chicago. I love playing tennis and loud music.
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_3.jpg', alt='avatar')
                img.oval(src='./images/Oval_3.jpg', alt='oval')
                img.icon3(src='./images/camera.png', alt='camera')
              p.partner-name Diana Wells
              p.partner-about2
                | Living in Athens, Greece. I love black and white classics,
                | chillout
                | music and green tea.
          .partners-two
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_2.jpg', alt='avatar')
                img.oval(src='./images/Oval_2.jpg', alt='oval')
                img.icon2(src='./images/brush.png', alt='oval')
              p.partner-name Marie Bennett
              p.partner-about
                | Currently living in Colorado. Lover of art, languages and
                | travelling.
            .partner-info
              .avatar-oval
                img.avatar(src='./images/Bitmap_4.jpg', alt='avatar')
                img.oval(src='./images/Oval_4.jpg', alt='oval')
                img.icon4(src='./images/airplane.png', alt='airplane')
              p.partner-name Christopher Pierce
              p.partner-about4
                | Star Wars fanatic. I have a persistent enthusiasm to create new
                | things.
        .partner-button
          a.href-class2(href='#') See other partners
    .container.d-flex
      .first-section
        .text-third-section Discover holiday activity ideas
        .block-grid
          .block
            .first-pic
            .second-pic
            .third-pic
            .fourth-pic
            .fifth-pic
            .six-pic
            .seven-pic
    .container.d-flex
      .first-section
        .text-third-section Create your holiday activity
        .text-holiday Hi! What are your holiday interests?
        .search
          input(type='text', placeholder='Enter your insterests')
          .search-button
            a.search-text(href='#') Search partners
