footer
  .container.d-flex
    .footer
      .footer-text
        .footer-info
          p.footer-logo DREAMSHARE
          .company
            div
              p.company-head Company
              .company-info
                div About
                div Contact
                div Press
                div Blog
                div Terms and Privacy
                div Help
            div
              p.company-head Partners
        .design
          .footer-design DESIGNED BY
          img(src='./images/design-logo.jpg', alt='design-logo')