header
  .container.d-flex
    .bg
      .menu-header
        .logo DREAMSHARE
        .menu-buttons
          a.button-log-in(href='#') Log in
          a.first-button(href='#') Sign up
      .header-text
        .text-header SHARE YOUR HOLIDAY DREAM
        .text-header2 And find the perfect partner to fullfill it
        .second-button
          a.href-class(href='#') Find your holiday partner